* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/images/pexels-genie-k-1731361-5688248.jpg);
  background-size: contain;
  text-align: center;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

header {
  background-color: rgb(103, 103, 241);
  padding-bottom: 24px;
}

form {
  background-color: rgba(60, 170, 170, 0.74);
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 50px;
}

input, label, select {
 margin-top: 16px;
 padding: 8px;
 text-align: left;
 margin-right: auto;
 margin-left: auto;
 border-radius: 5px;
}


